<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blumenhausradau.de.gunnarstictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tictactoe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tictactoe_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Four_FourActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".Five_FiveActivity"
            android:launchMode="singleInstance"/>
    </application>

</manifest>